.pos-f-t
            
    #navbar.collapse

        nav.nav

            h5.nav__title Mister Bitcoin

            ul.nav__items

                li.nav__item
                    a(href="/login") LOGIN
                
                li.nav__item
                    a(href="/register") REGISTER

                li.nav__item
                    a(href="/") HOME
            
            span.text-muted

    nav.navbar.navbar-dark.bg-dark
        
        button.navbar-toggler(
            
            type="button",

            aria-expanded="false",
            
            data-toggle="collapse",
            
            aria-label="Toggle navigation"
            
            data-target="#navbar",
            
            aria-controls="navbar",
        
        )
        
            span.navbar-toggler-icon